#main {
  margin: 2em;
  padding: 1em;
  /* color: #787878;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  background-color: black;
}

#main h4 {
  text-align: center;
}
#main h1 {
  font-weight: bolder;
  text-decoration: underline;
}

#main a {
  text-decoration: none;
  color: #f5245f;
  /* font-size: large; */
  background-color: #787878;
  padding: 0.2em;
  border-radius: 0.2em;
  display: inline-block;
}

#main a:hover {
  color: white;
  background-color: #f5245f;
}

#form {
  padding: 1em;
  text-align: center;
  color: #787878;
}
#form input {
  background-color: #18191e;
  color: #787878;
  padding: 1em;
  border: 0.1em solid #787878;
  /* width: 20em; */
}

#form input:hover {
  background-color: #363635;
}

#form .span {
  color: #f5245f;
  min-height: 20px;
  /* display: inline-block; */
}

#btn {
  padding: 1em;
}
#btn button {
  background-color: #363635;
  color: white;
  padding: 0.6em;
  font-size: large;
  width: 10em;
  cursor: pointer;
}
#btn button:hover {
  background-color: #f5245f;
}
