<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- 
C0799116 Chukwuemeka Ibebugwu
C0803319 Kamini Sharma
C0810593 Saravpal Singh Virdi
     -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <nav>
        <a href="">Home</a>
        <a href="">Men</a>
        <a href="">Women</a>
        <a href="">Kids</a>
        <a href="">Logout</a>
        <a href="">Signin</a>
      </nav>
    </header>
    <main>
      <h1>Home Page</h1>
    </main>
    <footer>
      <p>
        The content of this site is copyright-protected and is the property of
        Team 7
      </p>
    </footer>
  </body>
</html>
